[Unit]
Description=Fireplace Server
After=rsyslog.target

[Service]
PIDFile=/run/fireplace.pid
ExecStart=fireplace server
ExecStop=fireplace server
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
