[Unit]
Description=Fireplace Server
After=rsyslog.target

[Service]
PIDFile=/run/fireplace.pid
ExecStart=fireplace server -a 0.0.0.0 -p 80
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
