<!DOCTYPE html>
<head>
  <title>Login to Alexa Fireplace</title>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <style>
    h3 {text-align: center;}
  </style>
</head>
<body>
  <div class="container-fluid" id="content">
    <h3>Welcome to Alexa Fireplace!</h3> <div class="row">
      <form id="login-form" method="post">
        <div class="form-group">
          <label for="username">User Name:</label>
          <input id="username" name="username" type="text"
              placeholder="User Name" class="form-control" required="true">
          </input>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input id="password" name="password" type="password"
              placeholder="Password" class="form-control" required="true">
          </input>
        </div>
        <button type="submit" class="btn btn-block btn-success">Log In</button>
      </form>
    </div>
  </div>
</body>
</html>
