<!doctype html>
<head>
<title>Alexa Fireplace</title>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <h3>Welcome to Alexa Fireplace!</h3>
  <div class="row">
    <form id="login-form">
      <div class="form-group">
        <label for="username">User Name:</label>
        <input id="username" name="username" type="text" 
            placeholder="User Name" class="form-control" required="true">
        </input>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" name="password" type="password" 
            placeholder="Password" class="form-control" required="true">
        </input>
      </div>
      <button type="submit" class="btn btn-block">Log In</button>
    </form>
  </div>
</body>

<style>
  h3 {text-align: center;}
</style>

<script type="text/javascript">
  var login = function(username, password) {
    var data = JSON.stringify({"username": username, "password": password});
    $.ajax({
        url: "/login",
        type: "POST",
        data: data,
        contentType: "application/json; charset=utf-8",
        dataType: "json"
    }).done(function(data) {
      console.log(data);
    }).fail(function(error) {
      console.log(error);
    });
  };

  $("#login-form").submit(function(event) {
    event.preventDefault();
    login($(this).find("#username").val(), $(this).find("#password").val());
    return false;
  });
</script>
