{% extends "base.jinja" %}
{% block title %}Login to Alexa Fireplace{% endblock %}

{% block head %}
{{ super() }}
<style>
  h3 {text-align: center;}
</style>
{% endblock %}

{% block content %}
{{ super() }}
<h3>Welcome to Alexa Fireplace!</h3>
<div class="row">
  <form id="login-form" method="post">
    <div class="form-group">
      <label for="username">User Name:</label>
      <input id="username" name="username" type="text" 
          placeholder="User Name" class="form-control" required="true">
      </input>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" name="password" type="password" 
          placeholder="Password" class="form-control" required="true">
      </input>
    </div>
    <button type="submit" class="btn btn-block btn-success">Log In</button>
  </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
