{% extends "base.jinja" %}
{% block title %}Authorize {{ client.name }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<h3>Grant {{ client.name }} access to your fireplace?</h3>
<div class="row">
  <div class="col-sm-6">
  <form method="post" action="/oauth/authorize">
    <input name="confirm" value="yes" hidden="true"></input>
    <input name="scope" value="{{ scope }}" hidden="true"></input>
    <input name="client_id" value="{{ client.client_id }}" hidden="true"></input>
    <input name="response_type" value="{{ response_type }}" hidden="true"></input>
    <input name="redirect_uri" value="{{ redirect_uri }}" hidden="true"></input>
    <input name="state" value="{{ state }}" hidden="true"></input>
    <input name="confirm" value="yes" hidden="true"></input>
    <button type="submit" id="yes" class="btn btn-lg btn-block btn-primary">Yes</button>
  </form>
  </div>
  <div class="col-sm-6">
  <form method="post" action="/oauth/authorize">
    <input name="confirm" value="no" hidden="true"></input>
    <button type="submit" name="confirm id="no" class="btn btn-lg btn-block btn-default" value="no">No</button>
  </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
