{% extends "base.jinja" %}
{% block title %}Edit your OAuth Settings{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<h3>Edit your OAuth Settings</h3>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
